
/*Agrupacion de selector*/
/*Cuando los selectores son muy largo los coloco linea por linea*/
/*Definir una familia de fuente/ font-family:"nombre de la fuente" si el tipode fuente lleva varias palabras coloca " "

los tres elementos que se resisten a heredar las propiedades css son: las lista de seleccion, area de texto,input.
*/

body{
    font-family: Tahoma,Arial,Verdana; /*son tipos de fuentes auxiliares o alternativo*/
    
}


/*h1,h2,p{
font-size: 30px;  /*esta propiedad se hereda*/
/*font-family: Arial; esta propiedad se hereda*/  

/*select,textarea,input{ esta etiquetas hay q hacer esto para q puedan heredar la propiedad
    font-family: inherit;
}*/

/*Nosotros podemos colocar todos los tipos de letras que queramos pero se van a mostrar solo las que tengan instalada 
el S.O que se esta conectando, por eso es recomendable colocar distintos tipos de letras: Arial,Verdana,times*/





