.imagen{
    margin: 20px auto;
    background: url("../descarga.png") no-repeat ;
    width: 300px;
    height: 300px;

    /*box-shadow: (primer valor horizontal de la sombra px) (segundo desplazamiento vertical de la sombra) */
    /*primer valor en negativo la sombra se movera a la izqierda*/
    /*segundo valor en negativo la sombra se movera arriba o abajo*/
    /*tercer valor es el nivel de desenfoque*/ /*podemos usar px, o valores rela: em % */
    /*cuarto valor potencia de la sombra*/
    /*inset la sombra se monta en la imagen*/
    /*y se le aplica color endentro de el mismo*/
    /*Tambien se le pueden agregar distintas sombras e diferentes secciones separadas con ,*/
    box-shadow: 10px 10px 10px 0 #006fffb3 inset,
    20px 20px 20px 0 #00ff3080
    ; 
}