/*inline-block acepta mayor cantidad de propiedades*/

body{
    background: #ddd;
    font-size: 16px;
}
.caja{
    display: inline-block;
    background: #fff;
    margin: 10px;
    padding: 10px;
    position: relative;
}

.caja:before, .caja:after{
    content: ""; /*estos elementos pfuncionan con el conten  lo dejaremos vacios*/
    width: 50%;/*ancho*/
    height: 50%; /*alto*/
    background: #777; /*cajas grises*/
    position: absolute;
    left: 10px; /*los cajas esten al lado izquierdo*/
    bottom: 15px; /*del botton quiero que tengas 15px*/
    box-shadow: 0 15px 15px #777; /*agregar mi sombra  con color gris*/
    transform: rotate(-10grad); /*para que rote*/
    z-index: -1; /*que se posicione detras*/
}

.caja:after{
    right: 10px; /*la caja de after la quiero a 10px de la derecha*/
    left: auto; /*del left quese ajuste automaticamente*/
    transform: rotate(10grad); /*y tenga una rotacion de 10 grados*/
}