/*
.caja{
    height: 300px;
    width: 300px;
    background: red;
    margin: 20px auto; /*20px supe infe, auto de los lados  quede centrado

}*/

    /*
    border-top-left-radius: 20px; esquina superior izquierda
    border-top-right-radius: 50px; esquina superior derecha
    border-bottom-right-radius: 20%; esquina inferior derecha
    border-bottom-left-radius: 50px; esquina inferior izquierda
    */
    /*las dos esquinas diagonales*/
    /*border-radius: 20px 50px;*/

/*
.imagen{
    display: block;
    margin: 20px auto;
    background: #ddd;
    border: 1px solid #000;
    padding: 10px; /*Espaciado interno
    border-radius: 10px; si agrego 1 solo valor, automaticamente se lo agrega a todas las esquinas
}*/


.caja{
    height: 300px;
    width: 300px;
    background:url("descarga.png") no-repeat top / cover; /*El no-repeat es paraque no me aparezca dos veces una arriba de la otra*/
    margin: 20px auto; 
    background-clip: content-box; 
    border-radius: 50%;
    padding: 10px;
    border: 1px solid #7797b730;
    box-sizing: border-box;
}